@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.all-content{
    background: #f7f5f2;
}

html ::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}

/* navbar starts */
#navbar{
    background-color:#b2744c ;
}

#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 4px;
}

.navbar-nav{
    margin-left: 50px;
}

.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-item .nav-link:hover{
    background: #f7f5f2;
    color: black;
    width: auto;
    border-radius: 10px;
}

#navbar form button{
    background: black;
    color: white;
    border: 2px solid white;
}
/* navbar ends */